<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuncitys.smart.security.auth.module.client.mapper.GatewayRouteMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.yuncitys.smart.security.auth.module.client.entity.GatewayRoute" id="gatewayRouteMap">
        <result property="id" column="id"/>
        <result property="path" column="path"/>
        <result property="serviceId" column="service_id"/>
        <result property="url" column="url"/>
        <result property="retryable" column="retryable"/>
        <result property="enabled" column="enabled"/>
        <result property="stripPrefix" column="strip_prefix"/>
        <result property="crtUserName" column="crt_user_name"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updUserName" column="upd_user_name"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updTime" column="upd_time"/>
    </resultMap>

</mapper>
