<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuncitys.smart.security.app.mapper.AppUserMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.yuncitys.smart.security.app.entity.AppUser" id="appUserMap">
        <result property="id" column="id"/>
        <result property="mobile" column="mobile"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="money" column="money"/>
        <result property="vipOrderNum" column="vip_order_num"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="profession" column="profession"/>
        <result property="company" column="company"/>
        <result property="position" column="position"/>
        <result property="enabledFlag" column="enabled_flag"/>
        <result property="nosecretPayFlag" column="nosecret_pay_flag"/>
        <result property="authType" column="auth_type"/>
        <result property="userType" column="user_type"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="isSettingPwd" column="is_setting_pwd"/>
        <result property="crtTime" column="crt_time"/>
        <result property="crtUser" column="crt_user"/>
        <result property="crtName" column="crt_name"/>
        <result property="crtHost" column="crt_host"/>
        <result property="updTime" column="upd_time"/>
        <result property="updUser" column="upd_user"/>
        <result property="updName" column="upd_name"/>
        <result property="updHost" column="upd_host"/>
        <result property="attr1" column="attr1"/>
        <result property="attr2" column="attr2"/>
        <result property="attr3" column="attr3"/>
        <result property="attr4" column="attr4"/>
        <result property="attr5" column="attr5"/>
        <result property="attr6" column="attr6"/>
        <result property="attr7" column="attr7"/>
        <result property="attr8" column="attr8"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="crtUserId" column="crt_user_id"/>
    </resultMap>

</mapper>
