<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.iot.parking.mapper.CancellationAuditRecordsMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.smart.iot.parking.entity.CancellationAuditRecords" id="cancellationAuditRecordsMap">
        <result property="id" column="id"/>
        <result property="telephone" column="telephone"/>
        <result property="spaceNum" column="space_num"/>
        <result property="parkingName" column="parking_name"/>
        <result property="status" column="status"/>
        <result property="remake" column="remake"/>
        <result property="cancellationTime" column="cancellation_time"/>
        <result property="userSpaceId" column="user_space_id"/>
        <result property="enabledFlag" column="enabled_flag"/>
        <result property="crtTime" column="crt_time"/>
        <result property="crtUser" column="crt_user"/>
        <result property="crtName" column="crt_name"/>
        <result property="crtHost" column="crt_host"/>
        <result property="updTime" column="upd_time"/>
        <result property="updUser" column="upd_user"/>
        <result property="updName" column="upd_name"/>
        <result property="updHost" column="upd_host"/>
        <result property="attr1" column="attr1"/>
        <result property="attr2" column="attr2"/>
        <result property="attr3" column="attr3"/>
        <result property="attr4" column="attr4"/>
        <result property="attr5" column="attr5"/>
        <result property="attr6" column="attr6"/>
        <result property="attr7" column="attr7"/>
        <result property="attr8" column="attr8"/>
    </resultMap>

</mapper>
