<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.iot.dev.mapper.DevGatewayMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.smart.iot.dev.entity.DevGateway" id="devGatewayMap">
        <result property="gwId" column="GW_ID"/>
        <result property="enabledFlag" column="ENABLED_FLAG"/>
        <result property="crtUser" column="CRT_USER"/>
        <result property="updUser" column="UPD_USER"/>
        <result property="updDate" column="UPD_DATE"/>
        <result property="dataOwnedSys" column="DATA_OWNED_SYS"/>
        <result property="networkMode" column="NETWORK_MODE"/>
        <result property="proCode" column="PRO_CODE"/>
        <result property="severIpPort" column="SEVER_IP_PORT"/>
        <result property="recvPeriod" column="RECV_PERIOD"/>
        <result property="sgmId" column="SGM_ID"/>
        <result property="gwCruposition" column="GW_CRUPOSITION"/>
        <result property="gwCurfreq" column="GW_CURFREQ"/>
        <result property="gwDevnumber" column="GW_DEVNUMBER"/>
        <result property="gwName" column="GW_NAME"/>
        <result property="gwSn" column="GW_SN"/>
        <result property="gwVersion" column="GW_VERSION"/>
        <result property="phoneNum" column="PHONE_NUM"/>
        <result property="repairPhone" column="REPAIR_PHONE"/>
        <result property="resetTimes" column="RESET_TIMES"/>
        <result property="sgmSum" column="SGM_SUM"/>
        <result property="devIndex" column="DEV_INDEX"/>
        <result property="devData" column="DEV_DATA"/>
        <result property="gwModSn" column="GW_MOD_SN"/>
        <result property="loginFlag" column="LOGIN_FLAG"/>
        <result property="encryptionMark" column="ENCRYPTION_MARK"/>
        <result property="emTemp" column="EM_TEMP"/>
        <result property="enWeb" column="EN_WEB"/>
        <result property="swicoverStatus" column="SWICOVER_STATUS"/>
        <result property="parkingId" column="PARKING_ID"/>
        <result property="attribute1" column="ATTRIBUTE1"/>
        <result property="attribute2" column="ATTRIBUTE2"/>
        <result property="attribute3" column="ATTRIBUTE3"/>
        <result property="attribute4" column="ATTRIBUTE4"/>
        <result property="severIpPort1" column="SEVER_IP_PORT1"/>
        <result property="gwDevnumber2" column="GW_DEVNUMBER2"/>
        <result property="planResetsCount" column="PLAN_RESETS_COUNT"/>
        <result property="dataWriteAddress" column="DATA_WRITE_ADDRESS"/>
        <result property="dataReadAddress" column="DATA_READ_ADDRESS"/>
        <result property="gwModularVersionSn" column="GW_MODULAR_VERSION_SN"/>
        <result property="crtTime" column="CRT_TIME"/>
        <result property="ddaVersion" column="VERSION"/>
        <result property="csq" column="CSQ"/>
        <result property="op" column="OP"/>
        <result property="gps" column="GPS"/>
        <result property="powerSupplyState" column="Power_Supply_STATE"/>
        <result property="batteryVoltage" column="Battery_Voltage"/>
        <result property="batteryTemperature" column="Battery_temperature"/>
        <result property="chargingStatus" column="Charging_status"/>
        <result property="powersupplyType" column="PowerSupply_Type"/>
        <result property="batteryPowerAlarm" column="Battery_Power_Alarm"/>
        <result property="batteryTemperatureAlarm" column="Battery_Temperature_Alarm"/>
        <result property="heatingState" column="Heating_State"/>
        <result property="powerRecvPeriod" column="POWER_RECV_PERIOD"/>
    </resultMap>
    <select id="queryDevGateWayList" resultType="Map">
        SELECT a.gw_id as gwId,a.GW_NAME as gwName,a.GW_SN as gwSn,a.GW_VERSION as gwVersion,a.CRT_TIME as crtTime,
        a.GW_DEVNUMBER as gwDevNumber,a.GW_DEVNUMBER2 as gwDevNumber2,
        p.parking_address as parkingAddress,a.PARKING_ID as parkingId,p.parking_name as parkingName
        , a.GW_CURFREQ as gwCurfreq,a.PHONE_NUM as phoneNum,a.REPAIR_PHONE as repairPhone,a.SEVER_IP_PORT as severIpPort,
        a.ATTRIBUTE1 as OnLineStatus,a.ATTRIBUTE4 as deviceId
        FROM  parking p
        RIGHT JOIN dev_gateway a ON a.PARKING_ID = p.parking_id and  a.ENABLED_FLAG = 'y'
        where 1=1
        <if test="parkingId!=null">
            AND a.PARKING_ID = #{parkingId}
        </if>
        <if test="gwName!=null and gwName!=''">
            AND a.GW_SN  like '%${gwName}%'
        </if>
        order by a.crt_time desc
        limit ${startPoint},${limit}
    </select>
    <select id="queryDevGateWayCount" resultType="Integer">
        SELECT count(1)
        FROM  parking p
        RIGHT JOIN dev_gateway a ON a.PARKING_ID = p.parking_id and  a.ENABLED_FLAG = 'y'
        where 1=1
        <if test="parkingId!=null">
            AND a.PARKING_ID = #{parkingId}
        </if>
        <if test="gwName!=null and gwName!=''">
            AND a.GW_NAME like '%${gwName}%'
        </if>
    </select>

    <select id="queryEveryMonthCountByYear" parameterType="Map" resultType="Map" >
        SELECT
        sum( CASE MONTH ( a.crt_time ) WHEN '1' THEN 1 ELSE 0 END ) AS January,
        sum( CASE MONTH ( a.crt_time ) WHEN '2' THEN 1 ELSE 0 END ) AS February,
        sum( CASE MONTH ( a.crt_time ) WHEN '3' THEN 1 ELSE 0 END ) AS March,
        sum( CASE MONTH ( a.crt_time ) WHEN '4' THEN 1 ELSE 0 END ) AS April,
        sum( CASE MONTH ( a.crt_time ) WHEN '5' THEN 1 ELSE 0 END ) AS May,
        sum( CASE MONTH ( a.crt_time ) WHEN '6' THEN 1 ELSE 0 END ) AS June,
        sum( CASE MONTH ( a.crt_time ) WHEN '7' THEN 1 ELSE 0 END ) AS July,
        sum( CASE MONTH ( a.crt_time ) WHEN '8' THEN 1 ELSE 0 END ) AS August,
        sum( CASE MONTH ( a.crt_time ) WHEN '9' THEN 1 ELSE 0 END ) AS September,
        sum( CASE MONTH ( a.crt_time ) WHEN '10' THEN 1 ELSE 0 END ) AS October,
        sum( CASE MONTH ( a.crt_time ) WHEN '11' THEN 1 ELSE 0 END ) AS November,
        sum( CASE MONTH ( a.crt_time ) WHEN '12' THEN 1 ELSE 0 END ) AS December
        FROM
        itparking.dev_gateway  a
        left join parking p on a.PARKING_ID = p.parking_id
        WHERE YEAR ( a.crt_time ) = ${queryYear}
        <if test="parkingId != null and parkingId != ''">
            and a.PARKING_ID = #{parkingId}
        </if>
        <if test="parkingAddress != null and parkingAddress != ''">
            and p.parking_address like concat('%', #{parkingAddress}, '%')
        </if>
    </select>

    <select id="queryEveryDayCountByMouth" parameterType="Map" resultType="Map">
        SELECT
        COUNT(1) AS countNumber,
        DATE_FORMAT(dg.crt_time,'%Y-%m-%d') AS dateTime
        FROM
        itparking.dev_gateway dg
        left join parking p on dg.PARKING_ID = p.parking_id
        where YEAR ( dg.crt_time ) = ${queryYear}
        and MONTH ( dg.crt_time ) = ${queryMonth}
        <if test="parkingId != null and parkingId != ''">
            and dg.PARKING_ID = #{parkingId}
        </if>
        <if test="parkingAddress != null and parkingAddress != ''">
            and p.parking_address like concat('%', #{parkingAddress}, '%')
        </if>
        GROUP BY DATE_FORMAT(dg.crt_time,'%Y-%m-%d')
    </select>


</mapper>
