<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.iot.dev.mapper.SpaceOnerankdeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.smart.iot.dev.entity.SpaceOnerankde" id="spaceOnerankdeMap">
        <result property="soId" column="so_id"/>
        <result property="onerankdevSn" column="onerankdev_sn"/>
        <result property="spaceId" column="space_id"/>
        <result property="enabledFlag" column="enabled_flag"/>
        <result property="crtTime" column="crt_time"/>
        <result property="crtUser" column="crt_user"/>
        <result property="crtName" column="crt_name"/>
        <result property="crtHost" column="crt_host"/>
        <result property="updTime" column="upd_time"/>
        <result property="updUser" column="upd_user"/>
        <result property="updName" column="upd_name"/>
        <result property="updHost" column="upd_host"/>
        <result property="attr1" column="attr1"/>
        <result property="attr2" column="attr2"/>
        <result property="attr3" column="attr3"/>
        <result property="attr4" column="attr4"/>
        <result property="attr5" column="attr5"/>
        <result property="attr6" column="attr6"/>
        <result property="attr7" column="attr7"/>
        <result property="attr8" column="attr8"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="crtUserId" column="crt_user_id"/>
    </resultMap>

    <select id="deleteOnerankdevByDevsn">
         delete from space_onerankde where onerankdev_sn= #{devSn}
    </select>

    <select id="queryDevBySpaceIdAndDevSn"  resultMap="spaceOnerankdeMap">
        SELECT a.* FROM space_onerankde a , onerankdev b WHERE b.onerankdev_dev_sn=a.onerankdev_sn AND  a.space_id=#{spaceId} AND b.onerankdev_type = (SELECT onerankdev_type FROM onerankdev WHERE onerankdev_dev_sn=#{onerankdevSn})
    </select>


</mapper>
