package ${package}.biz;

import com.codingapi.tx.netty.service.TxManagerHttpRequestService;
import com.lorne.core.framework.utils.http.HttpUtils;
import org.springframework.stereotype.Service;

/**
 * create by lorne on 2017/11/18
 */

@Service
public class TxManagerHttpRequestBiz implements TxManagerHttpRequestService{

    @Override
    public String httpGet(String url) {
        String res = HttpUtils.get(url);
        return res;
    }

    @Override
    public String httpPost(String url, String params) {
        String res = HttpUtils.post(url,params);
        return res;
    }
}
