<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuncitys.smart.security.admin.mapper.GroupMapper">
  <resultMap id="BaseResultMap" type="com.yuncitys.smart.security.admin.entity.Group">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="group_type" jdbcType="INTEGER" property="groupType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result property="crtUserName" column="crt_user_name"/>
    <result property="crtUserId" column="crt_user_id"/>
    <result property="crtTime" column="crt_time"/>
    <result property="updUserName" column="upd_user_name"/>
    <result property="updUserId" column="upd_user_id"/>
    <result property="updTime" column="upd_time"/>
    <result column="attr1" jdbcType="VARCHAR" property="attr1" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="VARCHAR" property="attr4" />
    <result column="attr5" jdbcType="VARCHAR" property="attr5" />
    <result column="attr6" jdbcType="VARCHAR" property="attr6" />
    <result column="attr7" jdbcType="VARCHAR" property="attr7" />
    <result column="attr8" jdbcType="VARCHAR" property="attr8" />
    <result property="tenantId" column="tenant_id"/>
  </resultMap>
  <delete id="deleteGroupMembersById">
      delete from base_group_member where group_id = #{groupId}
  </delete>
  <delete id="deleteGroupLeadersById">
    delete from base_group_leader where group_id = #{groupId}
  </delete>
  <insert id="insertGroupMembersById">
    insert into base_group_member (
       id,group_id,user_id,tenant_id
    )
    values(
       #{id},#{groupId},#{userId},#{tenantId}
    )
  </insert>
  <insert id="insertGroupLeadersById">
    insert into base_group_leader (
       id,group_id,user_id,tenant_id
    )
    values(
       #{id},#{groupId},#{userId},#{tenantId}
    )
  </insert>
</mapper>
