<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuncitys.smart.security.admin.mapper.TenantMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.yuncitys.smart.security.admin.entity.Tenant" id="tenantMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="crtUserName" column="crt_user_name"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="crtTime" column="crt_time"/>
        <result property="updUserName" column="upd_user_name"/>
        <result property="updUserId" column="upd_user_id"/>
        <result property="updTime" column="upd_time"/>
        <result property="attr1" column="attr1"/>
        <result property="attr2" column="attr2"/>
        <result property="attr3" column="attr3"/>
        <result property="attr4" column="attr4"/>
        <result property="description" column="description"/>
        <result property="isSuperTenant" column="is_super_tenant"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="owner" column="owner"/>
    </resultMap>

</mapper>
