<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.iot.charge.mapper.ChargeCenterMapper">

    <select  id="queryChargeRule" resultType="java.util.HashMap">
        select *,${table_name} from ${table_name} where parking_id = #{parking_id}
    </select>


</mapper>
